.env
matrix.json
result
.direnv
*.iso
*.tar
*.tar.gz
*.tar.bz2
*.qcow2
.DS_Store

# Root Makefile for rapid Vim prototyping
/Makefile

/secrets

# OpenSSL
*.key
*.csr

# Watchman cookies (no more "Watchman would like to access your Documents folder")
.watchman-cookie-*
