[user]
	email = astrid@astrid.tech
	name = Astrid Yu
[core]
	editor = vim
	autocrlf = input
[credential]
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
