[Unit]
Description=dunst notification daemon

[Service]
# TODO: why is this not provided in the PATH?
ExecStart=/home/astrid/.nix-profile/bin/dunst
Restart=on-failure

[Install]
WantedBy=wayland-session@river.target
