[Unit]
Description=Waybar

[Service]
# TODO: why is this not provided in the PATH?
ExecStart=/home/astrid/.nix-profile/bin/waybar
Restart=on-failure

[Install]
WantedBy=wayland-session@river.target
