# DND Bookstack
https://dndwiki.astrid.tech {
    reverse_proxy * dndbookstack
    encode zstd gzip
}

# Firefly
https://firefly.astrid.tech {
    reverse_proxy * http://firefly:8080
    encode zstd gzip
}

# astrid.tech backend
https://api.astrid.tech {
    reverse_proxy /api/* http://astrid_tech:8001
    reverse_proxy /admin/* http://astrid_tech:8001
    reverse_proxy /assets/* http://astrid_tech:8001
    root /static/* /var/www/astrid_tech/
    file_server
    encode zstd gzip
}

# Trilium
https://notes.astrid.tech {
    reverse_proxy * http://trilium:8080
    encode zstd gzip
}

# Invoiceninja
#https://localhost:4002 {
#    root * /var/www/invoiceninja/public
#    php_fastcgi invoiceninja:9000
#    encode zstd gzip
#    file_server
#}
