[ req ]
output_password =
encrypt_key = false
default_bits = 2048
default_keyfile = intermediate.key
distinguished_name = req_distinguished_name
prompt = no
days = 18250

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = CA
localityName = San Luis Obispo
organizationName = IFD3F Technologies
organizationalUnitName = Illegal Department
commonName = IFD3F Technologies Intermediate 2023
emailAddress = astrid@astrid.tech

[ ca ]
default_ca = CA_default

[ CA_default ]
new_certs_dir = ./certs
private_key = ifd3f.key
certificate = ifd3f.crt
database = index.txt
policy = policy_any
default_md = sha256
email_in_dn = no
rand_serial = yes
default_days = 1825
default_crl_days = 7
x509_extensions = exts

[ exts ]
basicConstraints = CA:TRUE

[ policy_any ]
countryName            = optional
stateOrProvinceName    = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional

