# api.astrid.tech API gateway
api.astrid.tech {
    @django {
        path /static/* /media/*
    }

    route {
        file_server @django {
            root /var/www/astrid_tech/
        }
    }

    route /api/webmention {
        reverse_proxy http://wm_receiver:8000
    }

    route /api/rpc/processWebmentions {
        basicauth {
            rpcuser {$RPC_HASHED_PASSWORD}
        }
        reverse_proxy http://wm_receiver:8000
    }

    route * {
        reverse_proxy * http://astrid_tech_api_1:8001
    }
    encode zstd gzip
}

# Shortener
aay.tw {
    reverse_proxy * http://aay_tw_shortener_1:8000
    encode zstd gzip
}

# Trilium
notes.astrid.tech {
    reverse_proxy * http://trilium:8080
    encode zstd gzip
}

# Arm QR controller
armqr.astrid.tech {
    reverse_proxy * http://armqr:8000
    encode zstd gzip
}
