# DND Dokuwiki
wiki.dnd.astrid.tech {
    reverse_proxy * dnd_dokuwiki_dokuwiki_1
    encode zstd gzip
}

# # PlanarAlly
# dnd.astrid.tech {
#     reverse_proxy * http://planarally:8000
#     encode zstd gzip
# }

# astrid.tech backend
api.astrid.tech {
    @django {
        path /static/* /media/*
    }

    route {
        file_server @django {
            root /var/www/astrid_tech/
        }
    }
    reverse_proxy * http://astrid_tech_api_1:8001
    encode zstd gzip
}

# Shortener
aay.tw {
    reverse_proxy * http://aay_tw_shortener_1:8000
    encode zstd gzip
}

# Trilium
notes.astrid.tech {
    reverse_proxy * http://trilium:8080
    encode zstd gzip
}

# # Keycloak
# iam.astrid.tech {
#     reverse_proxy * http://keycloak:8080
#     encode zstd gzip
# }

# Invoiceninja
#https://localhost:4002 {
#    root * /var/www/invoiceninja/public
#    php_fastcgi invoiceninja:9000
#    encode zstd gzip
#    file_server
#}
